/* The alert message box */
.error {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
    float:right;
    width: 33rem;
  }

   .success {
    background-color: green; /* Red */
    padding: 20px;
    color: white;
    margin-bottom: 15px;
    float:right;
    width: 33rem;
  }

  .warning {
    background-color: yellow; /* Red */
    padding: 20px;
    color: white;
    margin-bottom: 15px;
    float:right;
    width: 33rem;
  }
  
  .info {
    background-color: lightblue; /* Red */
    padding: 20px;
    color: white;
    margin-bottom: 15px;
    float:right;
    width: 33rem;
  }

  /* The close button */
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  /* When moving the mouse over the close button */
  .closebtn:hover {
    color: black;
  }